@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Montserrat';
    transition: .25s all ease;
}

body {
    background: rgb(246, 246, 246);
}

.container {
    max-width: 1740px;
    padding: 0 40px 0 22px;
    margin: 0 auto;
}


/* Header */
.header {
    padding-top: 29px;
}

.header .container {
    max-width: 1830px;
    padding: 0 40px 0 22px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    flex-wrap: wrap;
}

.header__top-logo {
    font-family: 'Roboto';
    color: #8E9D89;
}

.header__top-logo__title {
    display: flex;  
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.header__top-logo__text {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.header__top-logo__text h1 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 800;
    line-height: 29px;
    color: darkolivegreen;
}

.header__top-logo__text p {
    font-size: 14px;
}

.header__top-logo__downtext {
    margin-top: 6px;
}

.header__top-zap {
    display: flex;
    align-items: center;
    margin-left: 55px;
    gap: 12px;
}

.header__top-zap p {
    font-family: 'Roboto';
    max-width: 310px;
    height: 46px;
    font-weight: 400;
    font-size: 19px;
    line-height: 23px;
    color: rgba(71, 72, 70, 1);
}

.header__top-btn {
    margin-left: 59px;
    background: linear-gradient(307.44deg, #29292F 0%, #289B5D 100%);
    box-shadow: 10px 10px 80px 0px rgba(33, 51, 103, 0.3);
    border-radius: 12px;
    width: 303px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__top-btn p {
    color: rgba(242, 242, 242, 1);
    font-weight: 700;
    font-size: 18px;
}

.header__top-btn:hover {
    position: relative;
    scale: 1.03;
    cursor: pointer;
}

.header__top-sales {
    margin-left: 69px;
    align-items: center;
}

.header__top-sales p {
    font-weight: 600;
    font-size: 17px;
    color: rgba(130, 130, 130, 1);
    font-family: 'Montserrat';
    line-height: 21px;
}

.header__top-sales h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24.5px;
    color: rgba(84, 88, 81, 1);
}

.header__top-quest {
    margin-left: 80px;
    display: flex;
    gap: 5px;
}

.header__top-quest-text {
    display: flex;
    flex-direction: column;
    gap: 2px;
    text-align: center;
}

.prorab__online {
    font-size: 12px;
    font-weight: 500;
    line-height: 3px;
    margin-top: 10px;
}

.prorab__online::before {
    content: '';
    position: absolute;
    left: 1634px;
    top: 30px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(124, 193, 66, 1);
}

.header__top-quest-text h1 {
    color: black;
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    margin-top: 4px;
    text-align: left;
}

.ask__quest {
    font-family: Montserrat;
    font-size: 11px;
    font-weight: 600;
    line-height: 13.41px;
    text-align: center;
    max-width: 179px;
    color: #8E9D89;
    text-decoration: underline dashed;
}

.ask__quest:hover {
    cursor: pointer;
}


.header__main {
    margin-top: 8px;
    display: flex;
    align-items: center;
    height: 92px;
    background: linear-gradient(307.44deg, #29292F 0%, #289B5D 100%);
    padding: 0 23px 0 58px;
}

.nav__item a:hover {
    color: lightgray;
}

.nav__list {
    display: flex;
    align-items: center;
    gap: 35px;
}

.nav__item a {
    color: #FFFFFF;
    font-weight: 500;
}

.nav__item:nth-child(2) a{
    font-size: 12px;
}

.nav__cases {
    font-weight: 300;
}

.header__contract {
    margin-left: 87px;
    width: 332px;
    height: 30px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: linear-gradient(90deg, #FFFFFF 0%, #D3D0BF 100%);
}

.header__contract p {
    font-weight: 600;
    color: rgba(121, 133, 111, 1);
    font-size: 12px;
    line-height: 14px;
}

.header__contract:hover {
    cursor: pointer;
}

.header__goldtube {
    display: flex;
    gap: 4px;
    margin-left: 97px;
    align-items: center;
}

.header__goldtube p {
    font-size: 13.09px;
    font-weight: 700;
    line-height: 15.96px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    text-decoration: underline dashed 1px #829931;
    text-underline-offset:5px;
}

.goldtube__video {
    color: #829931;
    
}

.header__goldtube:hover {
    cursor: pointer;
}

.header__icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 70px;
}

.header__icons img:hover {
    cursor: pointer;
}


/* Main */
.main {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), 
    url(../images/bg2.png);
    background-size: cover;
}

.main .container {
    padding-top: 24px;
    margin-left: 25px;
    max-width: 1940px;
}


/* KP */
.share {
    display: flex;
    gap: 6px;
    margin-bottom: 10px;
    margin-left: 40px;
    cursor: pointer;
    align-items: center;
}

.share p {
    max-width: 242px;
    font-size: 14px;
    line-height: 17.58px;
    font-weight: 400;
    color: rgba(142, 157, 137, 1);
}

.svyaz {
    display: flex;
    gap: 18px;
    margin-left: 48px;
    align-items: center;
    text-align: center;
}

.svyaz__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

.svyaz__item img {
    padding: 15px 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 1);
}


.svyaz__item p {
    font-size: 11.7px;
    font-weight: 400;
    line-height: 14.04px;
    text-align: left;
    color: rgba(111, 112, 111, 1);
}

.svyaz__item img:hover {
    cursor: pointer;
}

.svyaz__item img.selected {
    border: 2px solid rgba(121, 133, 111, 1);
    background-color: rgb(245, 247, 244);
}

.kp__block {
    display: flex;
    gap: 64px;
    padding-top: 19px;
}

.kp__title {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    line-height: 41.76px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;background: linear-gradient(307.44deg, #29292F 0%, #289B5D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kp__image {
    padding-top: 46px;
}

.kp__image-title {
    font-family: Montserrat;
    font-size: 22.68px;
    font-weight: 400;
    line-height: 31.75px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;   
    margin-bottom: 15px;
    margin-left: 58px;
}

.kp__image-home {
    width: 656px;
    height: 380px;
}

.kp__plan-cover {
    display: flex;
    gap: 44px;
    background: rgba(255, 255, 255, 1);
    padding: 20px 40px;
    border-radius: 5px;
}

.kp__plan-text {
    padding-top: 17px;
}

.kp__plan-text h1 {
    font-family: Roboto;
    font-size: 25.5px;
    font-weight: 600;
    line-height: 29.89px;
    text-align: left;
    color: black;
    max-width: 531px;
    margin-bottom: 18px;
}

.kp__plan-text p {
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 400;
    line-height: 19.92px;
    text-align: left;
    color: rgb(81, 88, 88);    
    margin-bottom: 42.5px;
}

.kp__plan-text ul li {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 21px;
    color: rgba(71, 67, 68, 1);
    font-family: Roboto;
    font-size: 19.13px;
    font-weight: 400;
    line-height: 22.41px;
    text-align: left;
}

.kp__plan-text ul li::before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: rgba(73, 136, 55, 1);
    border-radius: 50%;
    margin-right: 8px; 
}

.kp__plan-text .button {
    width: 488.8px;
    height: 53px;
    border: 1.06px solid rgba(73, 136, 55, 1);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.kp__plan-text .button a {
    font-family: 'Roboto';
    font-size: 19.13px;
    font-weight: 600;
    line-height: 22.41px;
    position: relative;
    z-index: 1;
    color: rgb(0, 0, 0);
}

.kp__plan-text .button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #4caf50; 
    transition: 0.4s all ease; 
    transform: translateY(100%);
    z-index: 0;
}

.kp__plan-text .button:hover::after {
    transform: translateY(0);
}

.kp__plan-text .button span {
    position: relative;
    z-index: 1;
}

.kp__info {
    background: rgba(255, 255, 255, 1);
    border-radius: 5px;
    padding: 17px 23px;
    margin-top: 20px;
}

.kp__info-cover {
    padding: 21px 23px;
    border: 1.97px solid #29292F;
}

.kp__info-title {
    font-family: 'Montserrat';
    font-size: 87.63px;
    font-weight: 800;
    line-height: 91.48px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: linear-gradient(307.44deg, #29292F 0%, #289B5D 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.kp__info-title span {
    font-weight: 400;
}

.kp__info-text {
    margin-left: 30px;
    margin-top: 17px;
}

.a420 {
    display: flex;
    align-items: center;
    gap: 28px;
    margin-bottom: 17.7px;
}

.a420 p {
    font-family: 'Roboto';
    font-size: 24.84px;
    font-weight: 800;
    line-height: 29.11px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.a420 span {
    font-weight: 400;
    font-family: 'Roboto';
}

.kp__info-arm {
    font-family: 'Montserrat';
    font-size: 24.84px;
    font-weight: 400;
    line-height: 30.28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-top: 10px;
    margin-bottom: 30px;
}


.kp__info-text__main {
    font-family: 'Montserrat';
    font-size: 24.84px;
    font-weight: 400;
    line-height: 30.28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 30px;
}

.kp__info-text__main span {
    font-weight: 700;
}

.sub__text-item {
    display: flex;
    align-items: center;
    gap: 78px;
    border-bottom: 2.5px solid rgba(40, 155, 93, 1);
    padding: 31px 20px;
}

.sub__text-item:first-child {
    border-top: 2.5px solid rgba(40, 155, 93, 1);
}

.sub__text-item h1 {
    font-family: 'Montserrat';
    font-size: 35.49px;
    font-weight: 600;
    line-height: 43.26px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: linear-gradient(307.44deg, #29292F 0%, #289B5D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    max-width: 491px;
}

.sub__text-item:first-child h1 {
    width: 491px;
}

.sub__text-item p {
    font-family: Montserrat;
    font-size: 31.55px;
    font-weight: 400;
    line-height: 38.45px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}



/* Social */
.social {
    padding-top: 40px;
    padding-bottom: 80px;
    /* background: rgba(239, 243, 243, 1); */
    box-shadow: 10px 10px 10px 0px rgba(191, 144, 144, 0.25);
    margin-left: 100px;
}

.social__contact {
    display: flex;
    gap: 80px;
    align-items: center;
}

.social__contact h1 {
    font-family: 'Montserrat';
    font-size: 36px;
    font-weight: 800;
    line-height: 43.88px;
    text-align: left;
    width: 1077px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(7, 68, 15, 1);

}

.social__contact-icons {
    display: flex;
    gap: 40px;
}

.social__contact-icons:hover {
    cursor: pointer;
}

.social__testimonials {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    margin-top: 38px;
}

.insta__check p {
    width: 363.26px;
    height: 110px;
    margin-top: -30px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.85px;
    text-align: left;
}

.strelka2 {
    position: relative;
    bottom: 110px;
    left: 300px;
    transform: rotate(20deg);
}

.insta__check p > span {
    color: rgba(121, 133, 111, 1);
    font-weight: 800;
}

.insta__check-btn {
    display: flex;
    align-items: center;
    gap: 17px;
    background: rgba(121, 133, 111, 1);
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25);
    width: 262.63px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 800;
    line-height: 29.26px;
    text-align: left;
    color: #FFFFFF;
    border-radius: 10px;
    cursor: pointer;
}

.insta__check-btn:hover {
    transform: translateY(-10%);
    box-shadow: 0px 15px 9px 0px rgba(0, 0, 0, 0.25);
}

.social__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 155px;
    margin-top: -80px;
}

.social__nav-item {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    text-align: left;
    color: rgba(39, 40, 37, 1);
    cursor: pointer;
}

.social__nav-item:hover {
    color: gray;
}

.home__more {
    display: flex;
    gap: 15px;
    margin-left: 6px;
}

.home__more-item {
    width: 390px;
}

.home__more-item p {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 26.4px;
    text-align: left;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    text-align: left;
    cursor: pointer;
}

.home__more-item p > span {
    font-weight: 400;   
}

.home__more-item button {
    width: 246px;
    height: 36px;
    background: rgba(203, 194, 163, 1);
    border-radius: 7.14px;
    box-shadow: 5.95px 5.95px 47.63px 0px rgba(33, 51, 103, 0.3);
    font-family: Montserrat;
    font-size: 10.72px;
    font-weight: 700;
    line-height: 12.86px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: rgba(61, 64, 59, 1);
    position: relative;
    bottom: 180px;
    left: 65px;
}

.home__more-item button:hover {
    transition: 1s all ease;
    background: rgb(164, 156, 128);
}

/* Footer */
.footer {
    background: rgba(252, 252, 252, 1);
    box-shadow: 30px 30px 80px 0px rgba(55,84, 170, 0.1);
    box-shadow: -30px -30px 80px 0px rgba(255, 255, 255, 1);
    box-shadow: 4px 4px 20px 0px rgba(255, 255, 255, 0.5) inset;
    padding-top: 20px;
}

.main__footer {
    display: flex;
    align-items: center;
    margin-bottom: 28px;
    flex-wrap: wrap;
}

.footer .header__top-logo__text h1 {
    font-size: 22px;
}

.sub__footer {
    display: flex;
    align-items: center;
    gap: 77px;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    margin-top: 26px;
    margin-bottom: 0px;
}

.sub__footer h1 {
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 800;
    line-height: 41.76px;
    text-align: left;
    background: linear-gradient(355.44deg, #29292F 0%, #289B5D 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 1273px;
}

.footer .prorab__online::before {
    top: 2434px;
}

.footer .container {
    max-width: 1830px;
    padding: 0 40px 0 22px;
    margin: 0 auto;
}



/* Media */
@media (max-width:1441px) {
    .social__testimonials {
        justify-content: center;
        gap: 130px;
    }

    .main__home {
        flex-wrap: wrap;
    }

    .social__contact {
        gap: 20px;
    }

    .home__more {
        gap: 210px;
        margin-top: -100px;
    }

    .main__footer {
        margin-left: 60px;
    }

    .sub__footer {
        margin-bottom: 0;
    }

    .share {
        margin-left: -30px; 
    }

    .social__contact {
        gap: 150px;
    }

    .social__contact h1 {
        width: 577px;

    }

    .footer .prorab__online::before {
        top: 3705px;
        margin-left: -14px;
    }

    .sub__footer h1 {
        font-size: 28px;
        line-height: 32px;
    }

    .header__top-zap {
        display: none;
    }

    .header__top {
        margin-left: 75px;
    }

    .header__top-quest-text .prorab__online::before {
        left: 972px;
    }

    .header__top-sales {
        display: none;
    }

    .header__goldtube {
        display: none;
    }

    .nav__list {
        gap: 25px;
    }

    .nav__item a {
        font-size: 12px;
    }

    .social .container {
        margin-left: -90px;
    }

    .kp__title {
        font-size: 48px;
        line-height: 50px;
        font-weight: 800;
        text-align: center;
    }

    .kp__image-title {
        text-align: center;
    }

    .svyaz {
        justify-content: center;
    }

    .kp__image> img {
        width: 700px;
        height: 400px;
    }

    .kp__block {
        flex-wrap: wrap-reverse;
        justify-content: center;
        gap: 25px;
    }

    .sub__text-item h1 {
        max-width: 360px;
    }

    .kp__info-title {
        font-size: 64px;
    }
}

@media (max-width: 1025px) {
    .header__top {
        margin-left: 20px;
    }

    .header__contract {
        margin-left: 50px;
    }

    .header__top-btn {
        width: 250px;
        height: 50px;
        margin-left: 30px;
    }

    .header__top-quest {
        margin-left: 50px;
    }
    
    .header__top-btn p {
        font-size: 16px;
        font-weight: 700;
    }

    .social__contact-icons {
        gap: 10px;
    }

    .home__more {
        gap: 100px;
    }

    .social__testimonials {
        margin-left: -10px;
        gap: 50px;
    }

    .home__more {
        margin-top: 0;
    }

    .main__footer {
        margin-left: 0;
    }

    .footer .prorab__online::before {
        top: 3865px;
        left: 799px;
    }

    .header .prorab__online::before {
        left: 806px;
        top: 28px;
    }

    .social__contact h1{
        font-size: 24px;
        line-height: 20px;
        width: 400px;
    }

    .kp__plan-text .button {
        width: 400px;
    }

    .kp__info-title {
        font-size: 72px;
        text-align: center;
        font-weight: 700;
        line-height: 60px;
    }

    .sub__text-item h1 {
        max-width: 339px;
    }
}

@media (max-width: 769px) {
    .header__top-btn {
        display: none;
    }

    .header .prorab__online::before {
        left: 526px;
        top: 28px;
    }

    .header__contract p{
        font-size: 9px;
    }

    .header__contract {
        width: 270px;
    }

    .header__icons {
        display: none;
    }

    .header__main    {
        padding-right: 0;
        padding-left: 80px;
    }

    .social__contact h1 {
        font-size: 20px;
        text-transform: uppercase;
        max-width: 400px;
        line-height: 25px;
    }

    .social__nav {
        display: none;
    }

    .home__more {
        max-width: 700px;
    }

    .home__more-item button {
        width: 180px;
        top: -160px;
    }

    .home__more-item p {
        font-size: 16px;
    }   

    .footer .prorab__online::before {
        left: 521px;
        top: 4289px;
        scale: .7;
    }

    .header .prorab__online::before {
        scale: .7;
    }

    .sub__footer {
        margin-bottom: 0;
    }

    .sub__footer h1 {
        font-size: 20px;
        line-height: 20px;
    }

    .social__contact h1 {
        margin-right: 0;
    }

    .social {
        padding-bottom: 20px;
    }

    .social__contact {
        gap: 20px;
    }

    .kp__plan-cover {
        flex-wrap: wrap;
        justify-content: center;
    }

    .kp__title {
        font-size: 36px;
        line-height: 38px;
    }

    .kp__image-title {
        margin-left: 0;
    }

    .svyaz {
        margin-left: 0;
    }

    .kp__info-title {
        font-size: 35px;
    }

    .sub__text-item {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .sub__text-item h1 {
        max-width: 550px;
        text-align: center;
    }

    .sub__text-item p {
        text-align: center;
    }
}

@media (max-width: 376px) {
    .header__top-quest {
        display: none;
    }

    .header__contract {
        display: none;
    }

    .header__main {
        margin-left: -50px;
    }

    .header__top-logo__title {
        justify-content: center;
        text-align: center;
    }

    .header__top-logo__downtext {
        text-align: center;
    }

    .nav__list {
        gap: 20px;
    }

    .nav__cases {
        font-weight: 700;
    }

    .nav__item:nth-child(2) a {
        font-size: 10px;
    }

    .nav__item a {
        font-size: 10px;
    }

    .social {
        padding-top: 10px;
    }

    .social__contact {
        display: none;
    }

    .home__more {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 30px;
        gap: 20px;
    }

    .home__more-item  {
        max-width: 340px;
    }

    .home__more-item img {
        max-width: 340px;
    }

    .insta__check {
        margin-left: 50px;
        max-width: 340px;
    }

    .home__more p {
        max-width: 340px;
    }

    .sub__footer {
        gap: 10px;
    }

    .sub__footer img {
        width: 100px;
    }

    .sub__footer h1 {
        max-width: 300px;
        font-size: 10px;
        line-height: 15px;
    }

    .insta__check {
        margin-left: 0px;
    }
    
    .insta__check p{
        max-width: 300px;
    }

    .home__more {
        margin-top: -70px;
    }

    .social__testimonials {
        justify-content: center;
        align-items: center;
    }

    .kp__title {
        font-size: 18px;
        line-height: 20px;
    }

    .plan_1_2 {
        width: 250px;
        height: 303px;
    }

    .kp__plan-text h1 {
        font-size: 20px;
        line-height: 20px;
    }

    .kp__plan-text {
        margin-left: 40px;
    }

    .kp__plan-cover, .kp__plan-text {
        max-width: 350px;
    }
    
    .kp__plan-text {
        margin-left: 0;
    }

    .kp__plan-text .button {
        width: 300px;
    }

    .kp__plan-text .button a {
        font-size: 16px;
    }

    .kp__image> img {
        height: 200px;
    }

    .kp__image {
        padding-top: 0;
    }

    .kp__info-title {
        font-size: 20px;
        line-height: 20px;
    }

    .a420 {
        gap: 10px;
    }

    .a420 p {
        font-size: 12px;
    }

    .a420 img {
        width: 15px;
        height: 12px;
    }

    .kp__info-text {
        margin-left: 0;
    }

    .kp__info-cover {
        padding: 14px 16px;
    }

    .kp__info-arm {
        font-size: 14px;
        line-height: 20px;
    }

    .kp__image-title {
        font-size: 17px;
    }

    .kp__info-text__main {
        font-size: 14px;
        line-height: 25px;
    }

    .sub__text-item h1 {
        max-width: 350px;
        font-size: 22px;
        line-height: 25px;
    }

    .sub__text-item p {
        font-size: 14px;
        line-height: 20px;
    }
}